Source: sjconf-sysctl
Section: admin
Priority: optional
Maintainer: Nicolas Delvaux <nicolas.delvaux@cji.paris>
Build-Depends: debhelper (>= 9),
               dh-python,
               txt2tags,
               python3-all
Standards-Version: 3.9.6

Package: sjconf-sysctl
Architecture: all
Pre-Depends: sjconf1 (>= 1.13.0)
Depends: ${misc:Depends},
         ${python3:Depends}
Description: sjconf plugin for sysctl
 This package provides a plugin for managing sysctl configuration using sjconf

