Source: sjconf-sysctl
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Mathieu Dupuy <mathieu.dupuy@smartjog.com>
Build-Depends: cdbs (>= 0.4.52), debhelper (>= 7.0.15), txt2tags, python-central (>= 0.6)
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: sjconf-sysctl
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, sjconf1 (>= 1.3.3)
XB-Python-Version: ${python:Versions}
Description: sjconf plugin for sysctl
 This package provides a plugin for managing sysctl configuration using sjconf

